# Object files
*.o
*.ko
*.obj
*.elf
*.pdb
*.ipdb

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM

# Automake and make releated stuff
Makefile
Makefile.in
.deps
.libs
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/config.guess
/config.log
/config.status
/config.sub
/libtool
/ltmain.sh
/m4
/usrsctp.pc
.dirstamp

# callgrind
callgrind.out*

# cmake build
/build

/msvc/.vs
/msvc/x64

# build artefacts
/lib
/bin
